extends layout

block content
  h1= title
  p Welcome to #{title}

  // SESSIONS TEST
  if sessionUser
      p You are logged in as #{sessionUser} as #{sessionRole}.
      p
      form(method='post', action='/logout')
          input(type='submit', value='Logout')

      // pass session variables to javascript
      script(type='text/javascript').
        var sessionUser = "#{sessionUser}";
        var sessionRole = "#{sessionRole}";
  else
      form(method='post', action='/login')
          p
              input(type='text', name='user')
          p
              select(name='role')
                option(value='IT User') IT User
                option(value='Manager') Manager
                option(value='Admin') Admin
          p
              input(type='submit', value='Login')
  // END SESSIONS TEST